@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 14% 99%;
    --foreground: 220 20% 18%;
    --card: 0 0% 100%;
    --card-foreground: 220 20% 18%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 20% 18%;
    --primary: 240 85% 69%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 220 10% 27%;
    --muted: 220 14% 96%;
    --muted-foreground: 220 8% 45%;
    --accent: 225 100% 94%;
    --accent-foreground: 220 10% 27%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 215 20% 81%;
    --input: 215 20% 81%;
    --ring: 240 85% 69%;
    --radius: 0.5rem;

    --chart-1: 240 85% 69%;
    --chart-2: 242 80% 61%;
    --chart-3: 243 75% 52%;
    --chart-4: 244 56% 42%;
    --chart-5: 245 44% 35%;

    --sidebar-background: 220 14% 96%;
    --sidebar-foreground: 220 20% 18%;
    --sidebar-primary: 240 85% 69%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 225 100% 94%;
    --sidebar-accent-foreground: 220 10% 27%;
    --sidebar-border: 215 20% 81%;
    --sidebar-ring: 240 85% 69%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 96%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 96%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 96%;
    --primary: 236 84% 78%;
    --primary-foreground: 222 47% 11%;
    --secondary: 215 28% 23%;
    --secondary-foreground: 215 20% 81%;
    --muted: 222 47% 11%;
    --muted-foreground: 215 16% 65%;
    --accent: 215 28% 23%;
    --accent-foreground: 215 20% 81%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 222 47% 11%;
    --border: 217 20% 32%;
    --input: 217 20% 32%;
    --ring: 236 84% 78%;

    --chart-1: 236 84% 78%;
    --chart-2: 240 85% 69%;
    --chart-3: 242 80% 61%;
    --chart-4: 243 75% 52%;
    --chart-5: 244 56% 42%;
    
    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 96%;
    --sidebar-primary: 236 84% 78%;
    --sidebar-primary-foreground: 222 47% 11%;
    --sidebar-accent: 215 28% 23%;
    --sidebar-accent-foreground: 215 20% 81%;
    --sidebar-border: 217 20% 32%;
    --sidebar-ring: 236 84% 78%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}